@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Nunito', sans-serif;
*/

//$blackish: #1f2937;
$blackish: #374151;
$whitish: #F3F4F6;
$gray: #4B5563;
$banana: #eac30d;
$bananaDark: #d6a101;
$accent: #199695;
$accent2: #5b53e0;


// FADE IN PAGE ON LOAD

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity .5s ease-out;
}


// GLOBAL STYLING

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    //border: 1px solid gray;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    color: $blackish;
    min-width: 300px;
    //background-color: $whitish;
}

p {
    line-height: 1.5;
    //margin: 1rem;
}

ol,
ul {
    padding-left: 1rem;
    margin-left: 1rem;
}

.button-style-1 {
    padding: .3rem 1rem;
    background-color: #fff;
    border: 3px solid $banana;
    border-radius: 2rem;

    text-decoration: none;
    color: black;
    font-weight: 600;
}


// >> HEADER

header {
    position: relative;
    padding: 1rem 1.5rem 1rem 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $bananaDark;
}


// >> NAVIGATION

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.menu-toggle-button {
    display: none;
}

@media only screen and (max-width: 576px) {
    .menu-toggle-button {
        z-index: 1;

        width: 2rem;
        height: 2rem;

        display: flex;
        flex-direction: column;
        gap: .3rem;
        align-items: center;
        justify-content: center;
    }

    .menu-toggle-button .dot {
        width: 4px;
        height: 4px;
        background-color: $bananaDark;
        border-radius: 50%;
    }

    nav {
        position: absolute;
        top: -5rem;
        left: 0;
        width: 100%;
        height: 100%;
        padding-right: 4rem;

        display: flex;
        align-items: center;
        justify-content: right;

        background-color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease, top .5s ease-in-out;
    }
    nav.active {
        top: 0;
        opacity: 1;
        transition: opacity 0.2s ease .1s, top .2s ease-out;
    }
}


// >> INTRO SECTION

.intro {
    max-width: 100%;
    padding: 2rem 0;

    background-color: #e0cf97;
    font-size: 1.4rem;
}

.intro .header,
.intro .subtext {
    padding: 0 2rem;
    text-align: center;
}

.intro img {
    max-width: 80%;
}

.intro .text-container {
    padding-right: 1rem;
    font-size: 1.2rem;
    text-align: center;

    min-width: 250px;
}

@media only screen and (min-width: 576px) {
    .intro {
        display: grid;
        grid-template-areas:
            'img header'
            'img subtext';

        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
        align-items: center;
        justify-content: center;

        .header,
        .subtext {
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .intro img {
        grid-area: img;
        max-width: 100%;
    }
    .intro .header {
        grid-area: header;
    }
    .intro .subtext {
        grid-area: subtext;
    }
}


// >> INSTRUCTIONS

.instructions {
    width: 100%;
    padding: 2rem;
}

.instructions-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


// buttons

.instructions .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    margin: 2rem 0 2.5rem 0;
}

.instructions .button {
    padding: .3rem 1rem;
    background-color: #fff;
    border: 3px solid $banana;
    border-radius: 1.5rem;

    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;

    transition: all .3s ease;
}

.instructions .button.active {
    background-color: $banana;
    color: white;
}


// owner-seeker swapping rules

.instructions .parts-container {
    display: grid;
    grid-template-columns: 100% 100%;
    overflow: hidden;
}

.parts-container .part.active {
    opacity: 1;
    transition: opacity .5s ease .25s, transform 0s ease; // way in
}

.parts-container .part {
    opacity: 0;
    transition: opacity .5s ease, transform .5s ease .5s; // way out
}

.parts-container .owner.part.active {
    transform: translateX(0);
}

.parts-container .owner.part {
    transform: translateX(-100%);
}

.parts-container .seeker.part.active {
    transform: translateX(-100%);
}

.parts-container .seeker.part {
    transform: translateX(0);
}


// parts styling

.parts-container {
    text-align: left;
    font-size: 1.2rem;
    max-width: 400px;
    margin: 0 auto;
}

.part-header {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.reward-insert {
    transition: all .3s ease;

    display: inline-flex; // required to  set width
    width: 10ch; // because 'chocolates' is 10 characters
    font-weight: 700;
}

.parts-container .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.parts-container p {
    font-weight: 700;
}

.parts-container a {
    font-weight: 700;
    color: $accent2;
    text-decoration: none;
}


// >> MAP SECTION

section.map {
    padding: 2rem 0;

    background: linear-gradient(90deg, #22a8a7, #199695);
    color: white;

    .header,
    .subheader,
    .legend {
        padding: 0 2rem;
    }
}

section.map .header {
    margin-bottom: 2rem;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

section.map .subheader {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.legend {
    margin: 2rem 1rem 0 1rem;

    table {
        margin: 0 auto;
        text-align: center;

        font-size: .9rem;
    }

    td {
        padding: 0 .75rem;
    }
}


// map

#map {
    width: 100vw;
    height: 70vh;

    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
}

.geocoder {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.geolocator {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}

.mapboxgl-marker {
    //
}


// mapbox marker popup

.mapboxgl-popup-content {
    color: $blackish;
    font-size: .7rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.mapboxgl-popup-close-button {
    font-size: 1rem;
    padding: .3rem .5rem;
}


// >> FLASH MESSAGE

.flash-message {
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 1rem;

    background-color: mediumseagreen;

    color: white;
    font-weight: bold;
    text-align: center;

    transition: all .3s ease-in;
}


// >> FOOTER

.footer {
    padding: 3rem 2rem;
    text-align: center;

    &__info {
        margin-bottom: 2rem;
    }

    &__p + &__p {
        margin-top: .5rem;
    }

    &__a {
        font-weight: 700;
        color: $accent2;
        text-decoration: none;
    }

    .home-link {
        font-size: 1.5rem;
        text-decoration: none;
        color: $bananaDark;
    }
}


// STYLING MODULES

.main-style-center {
    flex: 1;

    background-color: $whitish;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-style-1 {
    width: 100%;
    max-width: 576px;
    padding: 1rem 1.5rem;
    margin: 2rem 0;

    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media only screen and (min-width: 576px) {
    .box-style-1 {
        border-radius: 0.5rem;
        margin: 2rem;
    }
}

.errors {
    color: #ff2e2e;
    margin-bottom: 1rem;
    font-weight: 500;

    p {
        padding-bottom: .5rem;
    }

    ul {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}


// >> DASHBOARD

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.dashboard section {
    .button-container {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    .header {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    p.label {
        font-size: 0.875rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    p.info {
        line-height: 2rem;
        font-weight: 600;
    }
}


// >> CREATE PRINTER & JOB FORMS

// GLOBAL STYLING

input,
textarea {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: $blackish;
    margin-bottom: 1rem;

    &:focus {
        outline: 3px solid #e3e8fe;
    }
}

input[type="checkbox"] {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
}

::placeholder {
    color: #989898;
}


// STYLING MODULES

// printer, job
.input-field-style-1 {
    width: 100%;
    padding: .5rem .75rem;
    margin-top: .25rem;

    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid #D1D5DBFF;
    border-radius: 0.375rem;
}

// job
.input-field-style-short {
    width: 4rem;
    padding: .25rem .25rem;
    margin-bottom: .5rem;

    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid #D1D5DBFF;
    border-radius: 0.375rem;
}

// printer, job
.button-style-2 {
    display: block;
    padding: .5rem 1rem;
    margin: .5rem 0 0 auto;

    border: none;
    border-radius: 0.375rem;
    background-color: #1f2937;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    color: white;
}

// printer, job
.checkbox-label {
    margin-left: .25rem;
}


// SPECIFIC STYLING

.create-printer form .header {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.create-job form .header {
    font-size: 1.3rem;
    margin: 1.5rem 0 1rem;

    &:nth-child(2) {
        margin: 0 0 1rem;
    }
}
