@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Nunito', sans-serif;
*/

$blackish: #1f2937;
$whitish: #F3F4F6;
$gray: #4B5563;
$banana: #eac30d;
$bananaDark: #d6a101;
$accent: #199695;
$accent2: #5b53e0;


// FADE IN PAGE ON LOAD

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity .5s ease-out;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    //border: 1px solid gray;
}


body {
    font-family: 'Nunito', sans-serif;
    color: $blackish;
    min-width: 300px;
    //background-color: $whitish;
}

p {
    line-height: 1.5;
    //margin: 1rem;
}

ol,
ul
{
    padding-left: 1rem;
    margin-left: 1rem;
}


header {
    position: relative;
    padding: 1rem 1.5rem 1rem 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $bananaDark;
}


// >> NAVIGATION

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

nav a {
    padding: .3rem 1rem;
    background-color: #fff;
    border: 3px solid $banana;
    border-radius: 1rem;

    text-decoration: none;
    color: black;
    font-weight: 600;
}

.menu-toggle-button {
    display: none;
}

@media only screen and (max-width: 576px) {
    .menu-toggle-button {
        z-index: 1;

        width: 2rem;
        height: 2rem;

        display: flex;
        flex-direction: column;
        gap: .3rem;
        align-items: center;
        justify-content: center;
    }

    .menu-toggle-button .dot {
        width: .3rem;
        height: .3rem;
        background-color: $bananaDark;
        border-radius: 50%;
    }

    nav {
        position: absolute;
        top: -5rem;
        left: 0;
        width: 100%;
        height: 100%;
        padding-right: 4rem;

        display: flex;
        align-items: center;
        justify-content: right;

        background-color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease, top .5s ease-in-out;
    }
    nav.active {
        top: 0;
        opacity: 1;
        transition: opacity 0.2s ease .1s, top .2s ease-out;
    }
}


// >> INTRO SECTION

.intro {
    max-width: 100%;
    padding: 2rem 0;

    background-color: #e0cf97;
    font-size: 1.4rem;
}

.intro .header,
.intro .subtext
{
    padding: 0 2rem;
    text-align: center;
}

.intro img {
    max-width: 80%;
}

.intro .text-container {
    padding-right: 1rem;
    font-size: 1.2rem;
    text-align: center;

    min-width: 250px;
}

@media only screen and (min-width: 576px) {
    .intro {
        display: grid;
        grid-template-areas:
            'img header'
            'img subtext';

        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
        align-items: center;
        justify-content: center;

        .header,
        .subtext
        {
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .intro img {
        grid-area: img;
        max-width: 100%;
    }
    .intro .header {
        grid-area: header;
    }
    .intro .subtext {
        grid-area: subtext;
    }
}


// >> INSTRUCTIONS

.instructions {
    width: 100%;
    padding: 2rem;
}

.instructions-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


// buttons

.instructions .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    margin: 2rem 0 2.5rem 0;
}

.instructions .button {
    padding: .3rem 1rem;
    background-color: #fff;
    border: 3px solid $banana;
    border-radius: 1.5rem;

    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;

    transition: all .3s ease;
}

.instructions .button.active {
    background-color: $banana;
    color: white;
}


// owner-seeker swapping rules

.instructions .parts-container {
    display: grid;
    grid-template-columns: 100% 100%;
    overflow: hidden;
}

.parts-container .part.active {
    opacity: 1;
    transition: opacity .5s ease .25s, transform 0s ease; // way in
}
.parts-container .part {
    opacity: 0;
    transition: opacity .5s ease, transform .5s ease .5s; // way out
}

.parts-container .owner.part.active {
    transform: translateX(0);
}
.parts-container .owner.part {
    transform: translateX(-100%);
}
.parts-container .seeker.part.active {
    transform: translateX(-100%);
}
.parts-container .seeker.part {
    transform: translateX(0);
}


// parts styling

.parts-container {
    text-align: left;
    font-size: 1.2rem;
    max-width: 400px;
    margin: 0 auto;
}

.part-header {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.reward-insert {
    transition: all .3s ease;

    display: inline-flex; // required to  set width
    width: 10ch; // because 'chocolates' is 10 characters
    font-weight: 700;
}

.parts-container .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.parts-container p {
    font-weight: 700;
}

.parts-container a {
    font-weight: 700;
    color: $accent2;
    text-decoration: none;
}


// >> MAP

#map {
    width: 300px;
    height: 200px;
}


// >> FLASH MESSAGE

.flash-message {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 1rem;

    background-color: mediumseagreen;

    color: white;
    font-weight: bold;
    text-align: center;

    transition: all .3s ease-in;
}
