@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/*
font-family: 'Nunito', sans-serif;
*/


/* FADE IN PAGE ON LOAD */

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity .5s ease-out;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Nunito', sans-serif;
}


#map {
    width: 300px;
    height: 200px;
}


.flash-message {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 1rem;

    background-color: mediumseagreen;

    color: white;
    font-weight: bold;
    text-align: center;

    transition: all .3s ease-in;
}

